.header-banner {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
  background-image: url('./images/header-banner2.jpg');
  background-size: cover;
  text-align: left;
  vertical-align: middle;
}

.header-title {
  font-size: 3.5em;
  margin-left: 20px;
  display: inline-block;
}

.app-form {
  padding-top: 10px;
  border-right: 1px solid #bbb;
}

.error {
  border: 1px solid red;  
}
